body {
  background: #acdcee;
}
.weather-app {
  display: block;
  background: #f0fbff;
  border-radius: 30px;
  border: 1px solid #f0fbff;
  padding: 40px;
  margin: 100px auto;
  width: 600px;
  height: 450px;
  opacity: 90%;
}
.searchbar {
  font-family: "Dosis", sans-serif;
}
.submitButton {
  font-family: "Dosis", sans-serif;
}

.currentButton {
  display: block;
  width: 100%;

  font-size: 1rem;
  font-weight: 400;

  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-family: "Dosis", sans-serif;
}

.form-control {
  border-color: black;
}

.info {
  position: relative;
  bottom: -10px;
}

h2 {
  line-height: 20px;
  font-size: medium;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.description {
  text-align: center;
  font-size: medium;
  font-family: "Dosis", sans-serif;
  font-weight: 300;
  position: relative;
  bottom: 50px;
}

img {
  display: block;
  text-align: center;
  margin: -70px auto;
}

p {
  font-size: medium;
  font-family: "Dosis", sans-serif;
  font-weight: 300;
}

h1 {
  position: relative;
  bottom: 60px;
  text-align: center;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}
.today-temperature {
  position: relative;
  bottom: 50px;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}
a {
  text-align: center;
  font-size: medium;
  color: blue;
  text-decoration: none;
}

.col-2 {
  text-align: center;
  font-size: medium;
  font-family: "Dosis", sans-serif;
  font-weight: 300;
}

.openSource {
  position: relative;
  bottom: 100px;
  display: block;
  width: 0 100%;
  text-align: center;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}

.myName {
  position: relative;
  bottom: 100px;
  display: block;
  width: 0 100%;
  text-align: center;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}
